  <h2>Character Name: {{character.first_name}} {{character.last_name}}</h2>
    <p>
      Character personality: {{character.personality}}
    </p>
    <p>
      Game Description: {{game.description}}
    </p>
    <p>
      Created by {{game.user.name}}
    </p>
    <p>
      Character hairstyle: {{character.hairstyle}}
    </p>
    <p>
      Character dress style: {{character.dress_style}}
    </p>
    <p>
      Character age: {{character.age}}
    </p>
  {{!-- <p>
    <button class="btn btn-primary">Create Character</button>
  </p> --}}
</div>