  <h1>{{character.first_name}} {{character.last_name}}</h1>

  
    
    <h4>Character Details</h4>
    <p>
      Character personality: {{character.personality}}
    </p>
     <p>
      Character hairstyle: {{character.hairstyle}}
    </p>
    <p>
      Character dress style: {{character.dress_style}}
    </p>
    <p>
      Character age: {{character.age}}
    </p>

    <h4>Character Stats:</h4>

    <div id="chart1"></div>

    <h4>Character's Game</h4>
    <p>
      Game Title: <a href="/game/{{character.game.id}}">{{character.game.title}}</a>
    </p>
    <p>
      Game Description: {{character.game.description}}
    </p>
    <p>
      Created by {{character.user.name}}
    </p>
   
</div>

<source>

</source>