<!-- Loop over each object in the projects array -->
<div class="row">
<div class="col-md-6">
 <h1><strong>Character Set</strong></h1>
{{#each characters as |character| }}
  <div class="row">
    <div class="col-md-7">
    <p>
      Character name: <a href="/character/{{character.id}}">{{character.first_name}} {{character.last_name}}</a>
    </p>
  </div>
  
  <div class="col-md-5">
    <p>Created by {{character.user.name}}</p>
  </div>
  
</div>
{{/each}}
 </div>
 <div class="col-md-6">
 <h1><strong>Game Choices</strong></h1>
{{#each games as |game|}}
<div class="row">
  <div class="col-md-7">
    <p>
      Game Title: <a href="/game/{{game.id}}">{{game.title}}</a>
    </p>
  </div>
  <div class="col-md-5">
    <p>Created by {{game.user.name}}</p>
  </div>
  
</div>
{{/each}}
</div>
</div>