<!-- Loop over each object in the projects array -->
 <h1><stong>Character Set</stong></h1>
{{#each characters as |character| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/character/{{character.id}}">{{character.name}}</a>
    </h2>
    <p>Created by {{character.user.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      Character name: <a href="/character/{{character.id}}">{{character.first_name}} {{character.last_name}}</a>
    </p>
  </div>
</div>

{{/each}}
 
 <h1><stong>Game Choices</stong></h1>
{{#each games as |game|}}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/game/{{game.title}}"></a>
    </h2>
    <p>Created by {{game.user.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      Game Title: <a href="/game/{{game.id}}">{{game.title}}</a>
    </p>
    <p>
      Game Genre: {{game.genre}}
    </p>
    <p>
      Game Description: {{game.description}}
    </p>
  </div>
</div>

{{/each}}