<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Character:</h3>

    <form class="form new-character-form">

      <div class="form-group">
        <label for="first_name">Character's First Name:</label>
        <input class="form-input" type="text" id="first_name" name="first_name" />
      </div>

      <div>
        <button id = "first_name_button">Randomize</button>
      </div>

      <div class="form-group">
        <label for="last_name">Character's Last Name:</label>
        <input class="form-input" type="text" id="last_name" name="last_name" />
      </div>

      <div>
        <button id = "last_name_button">Randomize</button>
      </div>

      <div class="form-group">
        <label for="personality">Character's Personality:</label>
        <input class="form-input" type="text" id="personality" name="personality" />
      </div>

      <div>
        <button id = "personality_button">Randomize</button>
      </div>

      <div class="form-group">
        <label for="hairstyle">Character's Hairstyle:</label>
        <input class="form-input" type="text" id="hairstyle" name="hairstyle" />
      </div>

      <div>
        <button id = "hair_style_button">Randomize</button>
      </div>

      <div class="form-group">
        <label for="dress_style">Character's Dress Style:</label>
        <input class="form-input" type="text" id="dress_style" name="dress_style" />
      </div>

      <div>
        <button id = "dress_style_button">Randomize</button>
      </div>

      <div class="form-group">
        <label for="age">Character's Age:</label>
        <input class="form-input" type="number" id="age" name="age" />
      </div>

      <div>
        <button id = "age_button">Randomize</button>
      </div>

      {{#if games}}
        <div class="form-group">
        <label for="character-name">Game:</label>
        <select name ='game' id ="game">
        {{#each games as |game|}}
        <option value = "{{game.title}}">{{game.title}}</option>
        {{/each}}
        </select>
      </div>
      {{/if}}

       <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Character</button>
      </div>

    </form>
  </div>

   <div class="col-md-6">
    <h3>Create a New Game:</h3>

    <form class="form new-game-form">
      <div class="form-group">
        <label for="title">Game's Title:</label>
        <input class="form-input" type="text" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="genre">Game's Genre:</label>
        <input class="form-input" type="text" id="genre" name="genre" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-input" id="description" name="description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Game</button>
      </div>
    </form>
  </div>

{{#if characters.length}}
<div class="col-md-6 character-list">
  <h3>Current Characters</h3>

  {{#each characters as |character|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/character/{{character.id}}">{{character.first_name}} {{character.last_name}}</a></h4>
    </div>
    <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{character.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

  {{#if games.length}}
  <div class="col-md-6 games-list">
    <h3>Current Games:</h3>

    {{#each games as |game|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/game/{{game.id}}">{{game.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{game.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
