<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Character:</h3>

    <form class="form new-character-form">
      <div class="form-group">
        <label for="name">Character's Name:</label>
        <input class="form-input" type="text" id="name" name="name" />
      </div>

      <div class="form-group">
        <label for="personality">Character's Personality:</label>
        <input class="form-input" type="text" id="personality" name="personality" />
      </div>

      <div class="form-group">
        <label for="hairstyle">Character's Hairstyle:</label>
        <input class="form-input" type="text" id="hairstyle" name="hairstyle" />
      </div>

       <div class="form-group">
        <label for="age">Character's Date of Birth:</label>
        <input class="form-input" type="text" id="age" name="age" />
      </div>
      {{!-- {{#if games.length}}
      <div>
        <label for="charactersGame">What game does this character belong to?</label>
        <select name="charactersGame" id="charactersGame"></select>
        {{#each games as |game|}}
        <option value="{{game}}">{{game}}</option>
        {{/each}}
      </div>
      {{/if}} --}}


      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Character</button>
      </div>
    </form>
  </div>


  <div class="col-md-6">
    <h3>Create a New Game:</h3>

    <form class="form new-game-form">
      <div class="form-group">
        <label for="title">Game's Title:</label>
        <input class="form-input" type="text" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="genre">Game's Genre:</label>
        <input class="form-input" type="text" id="genre" name="genre" />
      </div>
      <div class="form-group">
        <label for="description">Game's Description:</label>
        <textarea class="form-input" type="text" id="description" name="description"></textarea>
      </div>



      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{!-- {{#if projects.length}}
  <div class="col-md-12 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="./js/profile.js"></script>
